/*
This file is used for loading CSS that is common and needed throughout the website. 
Example - CSS for navigation bar UI

Also it contains CSS overiding materialize CSS.
*/

.title {
    text-align: center;
}

.profile-icon {
    height: 95%;
    background-color: beige;
    padding: 5%;
    border-radius: 50%;
}

.brand-animation {
    border-style: none;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-card {
    display: none;
    position: absolute;
}

.card .card-content {
    padding: 24px 17px;
}

.qsettings {
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
}
